<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-header bg-success">


        User List

      </div>
      <div class="card-body">
        <table class="table table-bordered">




        <thead>
<tr>

  <th>Name</th>
  <th>Age</th>
  <th>Prescription</th>
  <th>Blood</th>
  <th>Action</th>
</tr>



        </thead>



          <tbody>

            @for (item of userList; track $index){

             <tr>
               <td>{{ item.name }}</td>
              <td>{{ item.age }}</td>
             <td>{{ item.prescription }}</td>
              <td>{{ item.blood }}</td>
               <button class="btn btn-primary btn-sm" (click)="onEdit(item)">Edit</button>
               <button (click)="onDelete(item.id)" class="btn btn-danger btn-sm">Delete</button>
             </tr>

            }


          </tbody>






        </table>

      </div>
    </div>
  </div>


  <div class="col-6">
    <div class="card">
      <div class="card-header bg-success">

        New User

      </div>
      <div class="card-body">
        <div class="row">

          <div class="col-7">
            <label  > Name</label>
            <input type="text"  [(ngModel)]="userObj.name" class="form-control">



          </div>

          <div class="col-7">
            <label  >Age</label>
            <input type="text" [(ngModel)]="userObj.age" class="form-control">



          </div>


          <div class="col-7">
            <label >Prescription</label>
            <input type="text" [(ngModel)]="userObj.prescription" class="form-control">



          </div>


          <div class="col-7">
            <label  >Blood</label>
            <input type="text" [(ngModel)]="userObj.blood" class="form-control">



          </div>


        </div>

        <div class="row pt-3">
          <div class="col-6 text-center">
            <button (click)="onReset()" class="btn btn-secondary">Reset</button>
          </div>

          <div class="col-6 text-center">
            {{userObj.id}}
            @if (userObj.id== 0) {

              <button (click)="saveUser()" class="bg-success">Save</button>

            }@else{
              <button (click)="updateUser()" class="bg-warning">Update</button>
            }


          </div>

        </div>



      </div>


    </div>
  </div>



</div>
