<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-header bg-success">


        User List

      </div>
      <div class="card-body">
        <table class="table table-bordered">




        <thead>
<tr>

  <th>Name</th>
  <th>Age</th>
  <th>Prescription</th>
  <th>Blood</th>
  <th>Action</th>
</tr>



        </thead>



          <tbody>

            @for (item of userList; track $index){

             <tr>
               <td>{{ item.name }}</td>
              <td>{{ item.age }}</td>
             <td>{{ item.prescription }}</td>
              <td>{{ item.blood }}</td>
               <button class="btn btn-primary btn-sm" (click)="onEdit(item)">Edit</button>
               <button (click)="onDelete(item.id)" class="btn btn-danger btn-sm">Delete</button>
             </tr>

            }


          </tbody>






        </table>

      </div>
    </div>
  </div>


  <div class="col-6">
    <div class="card">
      <div class="card-header bg-success">

        New User

      </div>
      <div class="card-body">

        <form  #formValue="ngForm">

        <div class="row">

          <div class="col-7">
            <label  > Name</label>
            <input type="text"  #names="ngModel" required [(ngModel)]="userObj.name" name="name" class="form-control">

            @if (names.touched){

            <div class="text-danger">
              @if(names.errors?.['required']){
                <span>This is Required</span>
              }
            </div>

            }




          </div>

          <div class="col-7">
            <label  >Age</label>
            <input type="text" #ages="ngModel" required minlength="4" [(ngModel)]="userObj.age" name="age" class="form-control">

            <div class="text-danger">

              @if (ages.errors?.['required']) {

              <span>This is required</span>
              }

              @if (ages.errors?.['minlength']) {


              <span>Min 4 Char</span>

              }

            </div>


          </div>


          <div class="col-7">
            <label >Prescription</label>
            <input type="text" #prescriptions="ngModel"  pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" required minlength="4" [(ngModel)]="userObj.prescription" name="prescription" class="form-control">
            <div class="text-danger">


              @if (prescriptions.errors?.['required']) {

              <span>This is required</span>
              }

              @if (prescriptions.errors?.['minlength']) {
              <span>Min 4 Char</span>

              }

              @if(prescriptions.errors?.['pattern']){

                <span>Valid is Required</span>

              }


            </div>




          </div>


          <div class="col-7">
            <label  >Blood</label>
            <input type="text" #bloods="ngModel" required minlength="4" [(ngModel)]="userObj.blood" name="blood" class="form-control">
            <div class="text-danger">

              @if (bloods.errors?.['required']) {
              <span>This is required</span>
              }

              @if (bloods.errors?.['minlength']) {

              <span>Min 4 Char</span>

              }

            </div>



          </div>


        </div>

        </form>

        <div class="row pt-3">
          <div class="col-6 text-center">
            <button (click)="onReset()" class="btn btn-secondary">Reset</button>
          </div>

          <div class="col-6 text-center">

            {{formValue.invalid}}

            {{userObj.id}}
            @if (userObj.id== 0) {

              <button (click)="saveUser()" [disabled]="formValue.invalid" class="bg-success">Save</button>

            }@else{
              <button (click)="updateUser()" class="bg-warning">Update</button>
            }


          </div>

        </div>



      </div>


    </div>
  </div>



</div>
